ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 75%;
  padding-left: 0;
}

li {
  list-style: none;
  margin: 10px;
  display: grid;
}

li img {
  max-width: 250px;
}

p {
  margin: 0;
}

.squadContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 75%;
  gap: 5px;
}
div li.squad{
  display: flex;
  gap: 1em;
}

.smaller {
  max-width: 60px;
}